 {% extends '::base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <h3 class="affiche" style="text-align: center">
            {{album.nom}}
                {% if is_granted('ROLE_VIDEO') %}
                <a class="btn btn-primary btn-sm pull-right " href="{{ path('media_video_add_video',{"id": album.id}) }}">
                    <span class="glyphicon glyphicon-edit"></span>
                    Ajouter une video
                </a>
         {% endif %}
        </h3>
        
           {% set videos = album.videos %}

           {% for video in videos %}
            <video controls="controls" preload="auto">
                <source src="{{ asset(video.getWebPath()) }}" type="video/ogg" />
                Vous n'avez pas de navigateur moderne, donc pas de balise video HTML5 !
            </video>
                {% else %}
            <p>
                No videos yet.

            </p>

             {% endfor %}
        </div>
        <div class="col-lg-6">
        </div>
    </div>
 
{% endblock %}

