{% extends "::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <p class="affiche">{{ 'resetting.password_already_requested'|trans }}</p>
    </div>
</div>
{% endblock %}
